name: Check, Test and Build ZPC

on:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  check:
    name: ZPL Compiler
    uses: org-zpr/zpr-dev-tools/.github/workflows/rust-build-test.yml@v1.1
    with:
      name: 'ZPL Compiler'
      runs-on: "['ubuntu-latest']"
      needs-capnp: true
    secrets: inherit
